/* PrimeVue */
.p-menubar {
  @apply bg-transparent gap-uniform-2;
  border: var(--border-memomancy) solid;
  border-color: var(--color-border);
  border-radius: var(--radius-memomancy);
  padding: var(--padding-menubar-y) var(--padding-menubar-x);

  @variant dark {
    border-color: var(--color-border-inverse);
  }
}

.p-menubar-root-list {
  @apply max-md:bg-color-alternating md:bg-transparent gap-uniform-4 max-md:p-uniform-4 max-md:border-(length:--border-memomancy);
  border-radius: var(--radius-memomancy);
}

.p-menubar .p-menubar-item-content {
  @apply bg-transparent !rounded-full;

  /* @variant hover {
    background: var(--color-secondary-hover);
  }

  @variant dark {
    @variant hover {
      background: var(--color-secondary-hover-inverse);
      color: var(--color-neutral) !important;
    }
  } */
}

.p-menubar .p-menubar-start {
  color: var(--color-neutral-inverse);

  @variant dark {
    color: var(--color-neutral);
  }
}

.memomancy-brand-text {
  color: var(--color-neutral-inverse);

  @variant dark {
    color: var(--color-neutral);
  }
}

/* Navigation Item Styles */
.memomancy-nav-item {
  @apply bg-transparent !rounded-full transition-all !duration-200;
  color: var(--color-neutral-inverse);

  @variant hover {
    background: var(--color-secondary-hover);
    color: var(--color-neutral-inverse) !important;
  }

  @variant dark {
    color: var(--color-neutral);

    @variant hover {
      background: var(--color-secondary-hover-inverse);
      color: var(--color-neutral) !important;
    }
  }
}

.memomancy-nav-item-active {
  @apply !rounded-full;
  background: var(--color-contrast);
  color: var(--color-neutral-inverse);

  @variant hover {
    background: var(--color-contrast-hover);
  }
}