/* PrimeVue */
.p-selectbutton {
  @apply flex flex-wrap border-2;
  border-radius: var(--radius-memomancy) !important;
  border-color: var(--color-border);

  @variant dark {
    border-color: var(--color-border-inverse);
  }
}

.p-selectbutton .p-togglebutton {
  @apply !border-0 !bg-transparent !transition-all !duration-200;
  padding: var(--spacing-uniform-6) var(--spacing-uniform-5) !important;
  border-radius: var(--radius-memomancy) !important;
  color: var(--color-neutral-inverse) !important;
  font-weight: var(--font-weight-memomancy-semibold) !important;

  @variant dark {
    color: var(--color-neutral) !important;
  }
}

.p-selectbutton .p-togglebutton.p-highlight {
  @apply !bg-transparent;
}

.p-selectbutton .p-togglebutton-checked .p-togglebutton-content,
.p-selectbutton .p-togglebutton.p-highlight .p-togglebutton-content {
  background: var(--color-contrast) !important;
  color: var(--color-neutral-inverse) !important;
  box-shadow: none !important;
  border-radius: var(--radius-memomancy) !important;
  padding: var(--spacing-uniform-6) var(--spacing-uniform-5) !important;
}

.p-selectbutton .p-togglebutton:hover:not(.p-highlight) {
  background: var(--color-secondary-hover) !important;

  @variant dark {
    background: var(--color-secondary-hover-inverse) !important;
  }
}
