@import "tailwindcss";
@import "@nuxt/ui";

/* @import "./utilities.css";
@import "./typography.css";
@import "./layout.css";
@import "./animations.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/menubar.css";
@import "./components/select-button.css";
@import "./components/menu.css"; */

@source "../**/*.{vue,js,ts,jsx,tsx}";
@source "components/*.css";

@theme {
  --font-playfair: Playfair Display, serif;
  --font-lato: Lato, sans-serif;

  --color-charcoal: #121417;
  --color-offwhite: #F5F3EE;
  --color-taupe: #C8B89A;
  --color-gold: #B89C5D;
  /* --font-han: Hanuman, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-mtl: 60rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --color-primary-50: #fcffe5;
  --color-primary-100: #f5ffb3;
  --color-primary-200: #ecff73;
  --color-primary-300: #e6ff3a;
  --color-primary-400: #e5ff0f;
  --color-primary-500: #e3fe01;
  --color-primary-600: #bada01;
  --color-primary-700: #91b501;
  --color-primary-800: #6b8f00;
  --color-primary-900: #4e6a00;
  --color-primary-950: #2e4100;

  --color-neutral-50: #f8f6f1;
  --color-neutral-100: #e8e1d1;
  --color-neutral-200: #d8ccb0;
  --color-neutral-300: #c7b78f;
  --color-neutral-400: #b7a16f;
  --color-neutral-500: #a98f54;
  --color-neutral-600: #887444;
  --color-neutral-700: #675834;
  --color-neutral-800: #473c23;
  --color-neutral-900: #262013;
  --color-neutral-950: #050503;

  --color-background: var(--color-neutral-100);
  --color-background-inverse: var(--color-neutral-900);

  --color-border: var(--color-neutral-900);
  --color-border-inverse: var(--color-neutral-100);

  --color-neutral: var(--color-neutral-50);
  --color-neutral-inverse: var(--color-neutral-950);

  --color-primary: var(--color-neutral-900);
  --color-primary-inverse: var(--color-neutral-100);
  --color-primary-border: var(--color-neutral-900);
  --color-primary-border-inverse: var(--color-neutral-100);
  --color-primary-hover: var(--color-neutral-700);
  --color-primary-hover-inverse: var(--color-neutral-300);
  --color-primary-hover-border: var(--color-neutral-700);
  --color-primary-hover-border-inverse: var(--color-neutral-300);
  --color-primary-active: var(--color-neutral-500);

  --color-secondary: var(--color-neutral-100);
  --color-secondary-inverse: var(--color-neutral-900);
  --color-secondary-border: var(--color-neutral-900);
  --color-secondary-border-inverse: var(--color-neutral-100);
  --color-secondary-hover: var(--color-neutral-200);
  --color-secondary-hover-inverse: var(--color-neutral-800);
  --color-secondary-hover-border: var(--color-neutral-800);
  --color-secondary-hover-border-inverse: var(--color-neutral-200);
  --color-secondary-active: var(--color-neutral-500);

  --color-contrast: var(--color-primary-500);
  --color-contrast-border: var(--color-primary-500);
  --color-contrast-hover: var(--color-primary-600);
  --color-contrast-hover-border: var(--color-primary-600);
  --color-contrast-active: var(--color-primary-400);

  --color-text-primary: var(--color-neutral-100);
  --color-text-primary-inverse: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-900);
  --color-text-secondary-inverse: var(--color-neutral-100);
  --color-text-contrast: var(--color-neutral-950);

  --font-weight-memomancy-normal: 400;
  --font-weight-memomancy-medium: 500;
  --font-weight-memomancy-semibold: 600;
  --font-weight-memomancy-bold: 700;
  */


  --text-heading-1: clamp(3rem, calc(2.8571vw + 1.4286rem), 9rem);
  --text-heading-2: clamp(1.5rem, calc(2.1429vw + 0.7143rem), 4.5rem);
  --text-heading-3: clamp(1rem, calc(1.4286vw + 0.7143rem), 3rem);
  --text-heading-4: clamp(0.75rem, calc(1.0714vw + 0.5357rem), 2.25rem);
  --text-heading-5: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);
  --text-heading-6: clamp(0.25rem, calc(0.3571vw + 0.1786rem), 0.75rem);
  --text-heading-7: clamp(0.125rem, calc(0.1786vw + 0.0893rem), 0.375rem);

  --text-normal-1: clamp(1.5rem, calc(2.1429vw + 1.0714rem), 4.5rem);
  --text-normal-2: clamp(1rem, calc(1.4286vw + .7143rem), 3rem);
  --text-normal-3: clamp(.75rem, calc(1.0714vw + .5357rem), 2.25rem);
  --text-normal-4: clamp(.5rem, calc(.7143vw + .3571rem), 1.5rem);
  --text-normal-5: clamp(.375rem, calc(.5357vw + .2679rem), 1.125rem);
  --text-normal-6: clamp(.25rem, calc(.3571vw + .1786rem), .75rem);
  --text-normal-7: clamp(.125rem, calc(.1786vw + .0893rem), .375rem);

  --icon-size-1: clamp(4rem, calc(5.7143vw + 2.8571rem), 12rem);
  --icon-size-2: clamp(2rem, calc(2.8571vw + 1.4286rem), 6rem);
  --icon-size-3: clamp(1.5rem, calc(2.1429vw + 1.0714rem), 4.5rem);
  --icon-size-4: clamp(1.25rem, calc(1.7857vw + 0.8929rem), 3.75rem);
  --icon-size-5: clamp(1rem, calc(1.4286vw + 0.7143rem), 3rem);
  --icon-size-6: clamp(0.75rem, calc(1.0714vw + 0.5357rem), 2.25rem);
  --icon-size-7: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);

  --spacing-uniform-1: clamp(3rem, 2.143rem + 4.286vw, 9rem);
  --spacing-uniform-2: clamp(2rem, 1.429rem + 2.857vw, 6rem);
  --spacing-uniform-3: clamp(1.5rem, 1.071rem + 2.143vw, 4.5rem);
  --spacing-uniform-4: clamp(1rem, 0.714rem + 1.429vw, 3rem);
  --spacing-uniform-5: clamp(0.75rem, 0.536rem + 1.071vw, 2.25rem);
  --spacing-uniform-6: clamp(0.5rem, 0.357rem + 0.714vw, 1.5rem);
  --spacing-uniform-7: clamp(0.25rem, 0.179rem + 0.357vw, 0.75rem);

  /* --spacing-uniform-1: clamp(2rem, calc(2.8571vw + 1.4286rem), 6rem);
  --spacing-uniform-2: clamp(1.5rem, calc(2.1429vw + 1.0714rem), 4.5rem);
  --spacing-uniform-3: clamp(1rem, calc(1.4286vw + 0.7143rem), 3rem);
  --spacing-uniform-4: clamp(0.75rem, calc(1.0714vw + 0.5357rem), 2.25rem);
  --spacing-uniform-5: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);
  --spacing-uniform-6: clamp(0.25rem, calc(0.3571vw + 0.1786rem), 0.75rem);
  --spacing-uniform-7: clamp(0.125rem, calc(0.1786vw + 0.0893rem), 0.375rem); */

  --padding-container: clamp(1rem, calc(1.4286vw + 0.7143rem), 3rem);
  --padding-section: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);
  --padding-card: clamp(0.25rem, calc(0.3571vw + 0.1786rem), 0.75rem);
  --padding-button-y: clamp(0.25rem, calc(0.3571vw + 0.1786rem), 0.75rem);
  --padding-button-x: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);
  --padding-menubar-y: clamp(0.5rem, calc(0.7143vw + 0.3571rem), 1.5rem);
  --padding-menubar-x: clamp(1rem, calc(1.4286vw + 0.7143rem), 3rem);

    /*
  --radius-memomancy: clamp(1.5rem, calc(2.1429vw + 1.0714rem), 4.5rem);
  --border-memomancy: clamp(0.125rem, calc(0.1786vw + 0.0893rem), 0.375rem);

  --shadow-memomancy: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-memomancy-elevated: 0 2px 8px rgb(0 0 0 / 0.08);
  --shadow-memomancy-elevated-hover: 0 4px 16px rgb(0 0 0 / 0.12); */
}

:root {
  --ui-text: var(--color-charcoal);
  --ui-text-muted: var(--color-charcoal);
  --ui-text-dimmed: var(--color-charcoal);
  --ui-text-highlighted: var(--color-charcoal);
  --ui-bg: transparent;
  --ui-bg-elevated: transparent;
}
